In [1]:
import pandas as pd

## Show all review CSV files

In [12]:
google_df = pd.read_csv("csv_files/google.csv", encoding='latin-1') #need latin-1 encoding for the google reviews found through trial & error

In [13]:
google_df.head()

             date  rating                                        review_text
0   3/9/2024 3:38       5                                                NaN
1  3/8/2024 10:42       5  Great selection of beer! We loved the atmosphere.
2   3/8/2024 9:55       5  Women's International Day at MadTree Brewery. ...
3   3/8/2024 2:07       5                       Authentic place.  Great vibe
4  3/7/2024 14:36       5                                                NaN

In [14]:
yelp_df = pd.read_csv("csv_files/yelp.csv")

In [15]:
yelp_df.head()

        date  rating                                        review_text
0  14-Mar-24       2  What has happened to Madtree? It was the best ...
1  15-Feb-24       5  Great spot to hang out with a variety of optio...
2  25-Jan-24       5  MadTree Brewing is an absolute gem with an inc...
3  25-Jan-24       5  MadTree has long been our cherished gathering ...
4  18-Jan-24       5  I love coming here whether it's after work or ...

In [16]:
trip_df = pd.read_csv("csv_files/trip.csv")

In [17]:
trip_df

         date  rating                                        review_text
0  11/15/2023       5  Great environment and beers! Love the indoor/o...
1  10/30/2023       5  My husband and I went to Madtree this weekend ...
2  10/16/2023       3  Experiences here are pretty much hit or miss. ...
3   8/19/2023       5  Brews were great, and the flight was a good de...
4  11/30/2022       3  Pros: cool venue, quality pizza and drinks\nCo...
5   5/12/2022       5  I love MadTree. I love their beer, I love thei...
6   8/31/2021       5  One of the best beer gardens I have been to in...

### We want to consolidate all of the reviews into one big CSV file

In [20]:
len(google_df), len(yelp_df), len(trip_df)

(500, 135, 7)

Convert 'date' column to standard format

In [21]:
google_df['date'] = pd.to_datetime(google_df['date'])

In [22]:
google_df.head()

,date,rating,review_text
0,2024-03-09 03:38:00,5,NaN
1,2024-03-08 10:42:00,5,Great selection of beer! We loved the atmosphere.
2,2024-03-08 09:55:00,5,Women's International Day at MadTree Brewery. ...
3,2024-03-08 02:07:00,5,Authentic place. Great vibe
4,2024-03-07 14:36:00,5,NaN

In [23]:
yelp_df['date'] = pd.to_datetime(yelp_df['date'])

In [24]:
yelp_df.head()

        date  rating                                        review_text
0 2024-03-14       2  What has happened to Madtree? It was the best ...
1 2024-02-15       5  Great spot to hang out with a variety of optio...
2 2024-01-25       5  MadTree Brewing is an absolute gem with an inc...
3 2024-01-25       5  MadTree has long been our cherished gathering ...
4 2024-01-18       5  I love coming here whether it's after work or ...

In [25]:
trip_df['date'] = pd.to_datetime(trip_df['date'])

In [26]:
trip_df.head()

        date  rating                                        review_text
0 2023-11-15       5  Great environment and beers! Love the indoor/o...
1 2023-10-30       5  My husband and I went to Madtree this weekend ...
2 2023-10-16       3  Experiences here are pretty much hit or miss. ...
3 2023-08-19       5  Brews were great, and the flight was a good de...
4 2022-11-30       3  Pros: cool venue, quality pizza and drinks\nCo...

In [27]:
consolidated_df = pd.concat([google_df, yelp_df, trip_df], ignore_index=True)

In [28]:
consolidated_df

,date,rating,review_text
0,2024-03-09 03:38:00,5,NaN
1,2024-03-08 10:42:00,5,Great selection of beer! We loved the atmosphere.
2,2024-03-08 09:55:00,5,Women's International Day at MadTree Brewery. ...
3,2024-03-08 02:07:00,5,Authentic place. Great vibe
4,2024-03-07 14:36:00,5,NaN
...,...,...,...
637,2023-10-16 00:00:00,3,Experiences here are pretty much hit or miss. ...
638,2023-08-19 00:00:00,5,"Brews were great, and the flight was a good de..."
639,2022-11-30 00:00:00,3,"Pros: cool venue, quality pizza and drinks\nCo..."
640,2022-05-12 00:00:00,5,"I love MadTree. I love their beer, I love thei..."
641,2021-08-31 00:00:00,5,One of the best beer gardens I have been to in...

642 rows matches the summed lengths of each individual dataframe.

In [29]:
consolidated_df[490: 510] # Where google reviews meet yelp reviews in the new consolidated df

,date,rating,review_text
490,2021-08-04 19:11:00,5,"Great airy space indoors, and lovely large pat..."
491,2021-08-04 02:40:00,5,I went to the Yottaquest event that they were ...
492,2021-08-04 02:07:00,5,"Great beer, metric tons of seating."
493,2021-08-03 17:52:00,5,Very cool brewery with a relaxed vibe and exce...
494,2021-08-01 01:18:00,5,NaN
495,2021-07-31 20:29:00,5,NaN
496,2021-07-31 11:54:00,5,Spacious and open. Great beer selection and ou...
497,2021-07-30 15:55:00,5,The only issues with this place are that the p...
498,2021-07-28 13:56:00,5,Great outdoor space for dogs! And the beer nev...
499,2021-07-27 03:09:00,5,NaN
500,2024-03-14 00:00:00,2,What has happened to Madtree? It was the best ...
501,2024-02-15 00:00:00,5,Great spot to hang out with a variety of optio...
502,2024-01-25 00:00:00,5,MadTree Brewing is an absolute gem with an inc...
503,2024-01-25 00:00:00,5,MadTree has long been our cherished gathering ...
504,2024-01-18 00:00:00,5,I love coming here whether it's after work or ...
505,2024-01-05 00:00:00,5,This was a great place to visit as my husband ...
506,2024-01-02 00:00:00,5,This is a Cincinnati must stop!! We loved our ...
507,2024-01-01 00:00:00,4,The space here is awesome! They have a massive...
508,2023-12-26 00:00:00,5,i love this place so much!! i love that i can ...
509,2023-12-22 00:00:00,3,The bartenders were absolutely amazing and nic...

In [30]:
consolidated_df['review_text'].isna()

0       True
1      False
2      False
3      False
4       True
       ...
637    False
638    False
639    False
640    False
641    False
Name: review_text, Length: 642, dtype: bool

In [32]:
consolidated_df.isna().sum()

date             0
rating           0
review_text    217
dtype: int64

Let's get rid of the rows with NaN values.

In [33]:
cleaned_df = consolidated_df.dropna()

In [35]:
len(cleaned_df) # Should be 642 - 217 = 425

425

Now our data is all consolidated and the rows with missing review text have been removed.

In [36]:
# Save cleaned df to csv
cleaned_df.to_csv("cleaned.csv", index=False)